<template>
  <div class="login">
    <section class="panel left-panel">
      <h1>Welcome</h1>
      <LoginCard />
    </section>
    <section class="panel right-panel" />
  </div>
</template>

<script setup>
import LoginCard from './components/LoginCard.vue'
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-[52px] mb-[55px];
}
.login {
  @apply flex w-full h-full;
}
.panel {
  @apply w-full h-full;
}

.left-panel {
  @apply flex flex-col items-center justify-center;
  @apply p-[50px];
}
.right-panel {
  background: url('@/assets/login-bg.png');
  @apply bg-gray-400 bg-cover bg-no-repeat  bg-center;
}

@media screen and (max-width: 992px) {
  .left-panel {
    background: url('@/assets/login-bg.png');
    background-position: center;
  }
  .left-panel h1 {
    color: #fff;
  }
  .right-panel {
    display: none;
  }
}
</style>
